<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
        type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
        Microsoft.Practices.Unity.Configuration"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <unity>
    <typeAliases>
      <typeAlias alias="IClientScheme" type="EA.Client.EAChat.UI.Proxy.IClientScheme, EA.Client.EAChat.UI" />
      <typeAlias alias="NetTcpClient" type="EA.Client.EAChat.UI.Proxy.NetTcpClient, EA.Client.EAChat.UI" />
    </typeAliases>
    <namespace name="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity" />
    <assembly name="Microsoft.Practices.EnterpriseLibrary.Common" />

    <container>
      <register type="IClientScheme" mapTo="NetTcpClient"></register>
    </container>
  </unity>
  
  <appSettings>
    <add key="nettcp_prefix" value="net.tcp://localhost:"/>
    <add key="EAChatServicePath" value="/EA.Services.EAChatService/EAChatService"/>
  </appSettings>

</configuration>